.adminPage{
    visibility: hidden;
}
.welcomeText{
    
    
}

.welcome{
    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: rgb(10, 72, 100);
}

.bodyText{
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    position: relative;
    
}

.text2{
    font-family: 'Aguafina Script', cursive;
    font-size: xx-large;
}

.enable{
    color: rgb(18, 18, 199);
    font-weight: bold;
}

.disable{
    color: rgb(160, 12, 12);
    font-weight: bold;
}

.add{
    color: rgb(26, 180, 26);
    font-weight: bold;
}

.adminImage{
    width: 120px;
    position: relative;
    left: 200px;
    bottom: 300;  
}