.login .new {
    margin-left: 1rem;
    color:black;
    font-size: larger;
}

.registerLink:hover {
    text-decoration: underline;
}

.input-field label{
    pointer-events: all !important;
}

.workoutBuddy{
    font-family: 'Tourney', cursive;
    color:rgb(9, 143, 143);
    font-weight: bolder;
}