.pnf {
    width: 75px;
    height: 200px;
    margin: 50px;
    z-index: 900;
    
    color: rgba(1, 1, 17, 0.473);
    
    left: 30px;
    position: relative;
    z-index: 300;

}

.square{
    width: 75px;
    height: 75px;
    background-color: teal;
    margin: 50px;
    z-index: -1;
    
}
  
.square.two{
    background-color: rgb(108, 147, 158);
}
  
.square.three{
    background-color: rgb(60, 62, 63);
}

.errorPara{
    font-size: large;
    font-weight: bold;
    position: relative;
    bottom: 100px;
}

.divContainer{
    visibility: hidden;
}

.errorImg{
    
    width: 425px;
    height: 375px;
    z-index: 110;
    
    max-width: 100%
}

/* .imgBorder{
    
    width: 424px;
    height: 375px;
    background-color: teal;
    z-index: 90;
    opacity: .5;
    overflow: hidden;
}

.imgBorder2{
    
    width: 424px;
    height: 375px;
    background-color: rgb(108, 147, 158);
    z-index: 70;
    opacity: .5;
    position: relative;
}

.imgBorder3{
  
    width: 424px;
    height: 375px;
    background-color: rgb(60, 62, 63);
    z-index: 50;
    opacity: .5;
    position: relative;
} */

